eribank.iml
.gradle/4.10/gc.properties
.gradle/4.10/fileChanges/last-build.bin
.gradle/4.10/fileHashes/fileHashes.bin
.gradle/4.10/fileHashes/fileHashes.lock
.gradle/vcs-1/gc.properties
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles/Project.xml
